.git
.git/**
**/.git
node_modules
**/node_modules
.pnpm-store
**/.pnpm-store
.npm
**/.npm
.cache
**/.cache
coverage
**/coverage
.pytest_cache
**/.pytest_cache
.env
.env.*
**/.env
**/.env.*
data
**/data
.data
**/.data
local-data
**/local-data
*.zip
*.tar
*.tgz
.DS_Store
